.row {
    display: flex;
    flex-direction: row;
    background-color: #d1f2eb;
    border-radius: 8px;
    box-shadow: 0 4px 8px #1c2833;
    overflow: hidden;
    max-width: 100%;
    margin: 20px;
}

.column {
    flex: 1;
    padding: 20px;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.column h2 {
    margin-top: 0;
    font-size: 24px;
    color: #1c2833;
}

.column p {
    color: #1c2833;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.column ul {
    list-style-type: none; /* Tipo de viñeta */
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    padding: 0;
}