.image-container {
    width: 95%; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin: 20px;
    padding: 10px;
    background-color: #d1f2eb;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), 
                -5px -5px 15px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: translateY(-10px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4), 
                -10px -10px 20px rgba(255, 255, 255, 0.6);
}

.image-container:hover img {
    transform: scale(1.05);
}