/* Estilos para la pestañas */
.tab-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #e8f8f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Título */
.tab-title {
    text-align: center;
    background-color: #0e6251;
    color: white;
    margin: 0;
    padding: 20px 0;
    font-size: 24px;
}

/* Botones de las pestañas */
.tab-buttons {
    display: flex;
    justify-content: space-around;
    background-color: #148f77;
    padding: 10px 0;
}

.tab-button {
    background-color: #17a589;
    border-radius: 5px;
    border-color: #17a589;
    box-shadow: 0 0 5px rgba(209, 242, 235);
    padding: 14px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.tab-button:hover {
    background-color: #48c9b0;
}

.tab-button.active {
    background-color: #76d7c4;
    color: white;
}

/* Botones de subpestañas */
.subtab-buttons {
    display: flex;
    justify-content: space-around;
    background-color: #148f77;
    padding: 10px 0;
    margin-top: 10px;
}

.subtab-button {
    background-color: #148f77;
    border-radius: 5px;
    border-color: #17a589;
    box-shadow: 0 0 5px rgba(209, 242, 235);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.subtab-button:hover {
    background-color: #48c9b0;
}

.subtab-button.active {
    background-color: #76d7c4;
    color: white;
}

/* Contenido de las pestañas */
.tab-content, .subtab-content {
    display: none;
    padding: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
}

.subtab-content li {
    text-align: justify;
    font-size: 16px;
}

.subtab-content h2 {
    font-size: 22px;
    font-weight: bold;
}

.subtab-content h3 {
    font-size: 20px;
    font-weight: bold;
}


.tab-content img, .subtab-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    /*transform-origin: center;*/
}

.tab-content:hover img, .subtab-content:hover img {
    transform: scale(1.05) translate(-5%, -5%);
}
.tab-content p, .subtab-content p {
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
    color: black;
}