.row {
    display: flex;
    flex-direction: row;
    /*background-color: #d1f2eb;
    border-radius: 8px;
    box-shadow: 0 4px 8px #1c2833;*/
    overflow: hidden;
    max-width: 100%;
    margin: 20px;
}

.column {
    flex: 1;
    padding: 20px;
}

.column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    position: relative;
}

.top-text {
    /*position: absolute;*/
    top: 30%;
    left: 30%;
    /*transform: translate(-50%, -50%); /* Centrar el texto */
    color: white;
    font-size: 18px;
    text-align: center;
}

.column h2 {
    margin-top: 0;
    font-size: 18px;
    color: black;
}

h1 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.margen {
    margin-top: 10px;
    margin-bottom: 10px;
}